<html>
<body>
    <p></p>
    <p></p>
</WELCOME>
</html>
<html>
    <HEY>
        <title>İLAYDA'NIN blogu</title>
    </head>
    <body>
        <p></p>
        <p></p>
    </body>
</html>
<h1></h1
<center><a href="http://html-kodlar-merkez.tr.gg" _fcksavedurl="http://html-kodlar-merkez.tr.gg"><img border="0" alt="" src="https://img.webme.com/pic/h/html-kodlar-merkez/h4.gif" _fcksavedurl="https://img.webme.com/pic/h/html-kodlar-merkez/h4.gif" title="Simli Resimler" /></a><br /> <center> </center></center>
<SPAN style="font: italic 30pt
<h3>DJANGO GIRLS</h3>
<p>Django Girls</p>
html
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <c3><a href="">İlk Blogum</a></c3>
            <p>Çok heyecanlıyım! Bu benim ilk blogum. Ne kadar zevkli bir işmiş bilgisayarlarla uğraşmak. Artık bilgisayar başından kalkmam. </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:20</p>
            <h2><a href="">İkinci gönderim</a></h2>
            <p>Bir varmış bir yokmuş, evvel zaman içinde Ne kadar zevkli bir işmiş bilgisayarlarla uğraşmak. Artık bilgisayar başından kalkmam. kalbur saman içinde, develer tellal iken, pireler berber iken; ben annemin beşiğini tıngır mıngır sallar iken.</p>
        </div>
    </body>
</html>
